.checkoutProduct {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.checkoutProduct__info {
    padding-left: .1em;
}

.checkoutProduct__info > button {
    background-color: #f0c14b;
    border: 1px solid #a88734 #9c7e31 #846a29;
    border-radius: 2px;
    color: black;
    padding: .1em;
    margin-top: .15rem;
    font-family: inherit;
}
.checkoutProduct__info > button:focus {
    outline: none;
}

.checkoutProduct__info > button:hover {
    cursor: pointer;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}